.ad-banner {
  /* width: 100%; */
  position: relative;
  background-image: url("../../assets//images//banner-bg.svg");
  height: 165px;
  margin: 0 52px;
  margin-top: 36px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-select option {
  border: 3px solid red !important;
}

.country-field .select__control {
  height: 56px;
}